
# R2 Configs
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_REGION=auto
R2_IMAGE_BASE_URL=https://your-base-url.domain.com
# Frontend page
VITE_SITE_TITLE=MD-gallery
VITE_SITE_SINA=
VITE_ICP=
VITE_COPYRIGHT=